@import  "css/step-personal.css";

@import  "css/step-summary.css";

@import "css/root.css";
/*======= fonts ======= */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


/*======= reset ======= */
*,*::before,*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*========== defaul =========== */

body{

	font-family: 'Ubuntu', sans-serif;
}
p{
	font-size: 16px;
}
button{
	cursor: pointer;
	background-color: transparent;
}

/* ====== mobile ======= */
.main{
	background-color: var(--bg-main);
	background-image: url('assets/images/bg-sidebar-mobile.svg');
	background-repeat: no-repeat;
	display: flex;
}
.app{
	display: grid;
	padding: 2rem 1rem 0rem 1rem;
	width: 100%;
}
/*/////////////////////////////// SIDEBAR ///////*/

.sidebar{
	display: flex;
	justify-content:  center;
}
.sidebar-nav{
	display: flex;
	column-gap: 1rem;
}
.sidebar-btn{
	border: 1px solid hsl(0, 0%, 100%);
	width: 33px;
	height: 33px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: hsl(0, 0%, 100%);
	font-size: 14px;
	font-weight: 700;
}
.sidebar-btn:hover{
	background-color: hsl(206, 94%, 87%);
	color: hsl(213, 96%, 18%);
}
.sidebar-nav-desc{

	display: none;
}
/*/////////////////////////////// FORM ///////*/
.form-section{
	background-color: hsl(0, 0%, 100%);
	margin: 2.1rem 0rem;
	border-radius: 0.6rem;
	padding: 2rem 1.5rem 1.5rem 1.5rem;
}
.title-section{
	color: var(--title-section);
}
.desc-section{
	color: var(--desc-section);
	line-height: 1.6rem;
	padding: 0.6rem 0rem;
}

/*///////////////////////////////////////*/


/*///////////////////////////// FORM BUTTONS /////////*/

.form-buttons{
	background-color: var(--bg-form-buttons);
	display: flex;
	justify-content: space-between;
	padding: 1rem 0rem;
	margin-top: 6.4rem;
}
.form-btn-step{
	width: 98px;
	height: 42px;
	background-color: hsl(213, 96%, 18%);
	border: none;
	border-radius: 0.3rem;
	color: hsl(0, 0%, 100%);
	font-weight: 700;
}
.form-btn-step:hover{
	opacity: 0.9;
}
.form-btn-step a {
	text-decoration: none;
	color: hsl(0, 0%, 100%);
}

.form-btn-step-back{
	border: none;
	background-color: transparent;
}
.form-btn-step-back a{
	text-decoration: none;
	font-weight: 700;
	color: hsl(231, 11%, 63%);
	font-size: 16px;
}


@media screen and (min-width: 1440px){
	.main{
		background-image: none;
		background-color: var(--bg-main);
		height: 100vh;
	}
	.app{
		display: grid;
		grid-template-columns: 30% 70%;
		margin: 2rem 15.5rem ;
		padding: 1rem;
		width: 944px;
		height: 600.6px;
		background-color: hsl(0, 0%, 100%);
		border-radius: 1.2rem;
	}
	/*/////////////////////////////// SIDEBAR ///////*/
	.sidebar{
		background-image: url('assets/images/bg-sidebar-desktop.svg');
		background-size: cover;
		border-radius: 0.7rem;
		display: flex;
		justify-content: flex-start;
		padding: 2.3rem 2rem;
	}
	.sidebar-nav{
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}
	.sidebar-nav-step{
		display: flex;
		column-gap: 1rem;
		align-items: center;
	}
	.sidebar-nav-desc{
		display: block;
		text-transform: uppercase;
		font-size: 15.5px;
		font-weight: 500;
		color: hsl(0, 0%, 100%);
	}
	.sidebar-nav-desc span{
		color: hsl(228, 100%, 84%);
		font-size: 13px;
	}

	/*///////////////////////////////////////*/

	/*/////////////////////////////// FORM ///////*/

	.form{
		padding: 3rem 5.65rem 0rem 5.65rem;
	}
	.form-section{
		margin:  0rem;
		padding: 0rem;
	}
	.title-section{
		font-size: 33px;
	}
	.form-info-personal{
		margin-top: 1rem;
		row-gap: 1.5rem;
	}
	
	
	.form-buttons{
		margin-top: 4rem;
	}
	.form-btn-step{
		width: 120px;
		height: 48px;
		border-radius: 0.55rem;
	}

	

}